@Colors {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
  }


@font-face { 
    font-family: '[Inter](https://fonts.google.com/specimen/Inter)';
    src: url(assets/fonts/static/Inter-Bold.ttf);
    src: url(assets/fonts/static/Inter-Regular.ttf);
    src: url(assets/fonts/static/Inter-SemiBold.ttf);
    font-weight: normal;
    font-style: normal;
} 

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    
}

body{
    font-size: 14px;
    font-family:'Inter', sans-serif ;
    background:  hsl(0, 0%, 8%);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3rem;
}

.links-section{
    margin-top: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

.links{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 320px;
    height: 520px;
    background: hsl(0, 0%, 12%);
    border: 1px  solid hsl(0, 0%, 12%);
    border-radius: 11px;
    margin-bottom: 5px;
    box-shadow: 10px 6px 11px -23px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 6px 11px -23px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 6px 11px -23px rgba(0,0,0,0.75);
}

.link_profil{
    padding-bottom: 5px;
}

.links_Img img{
    margin-top: 1rem;
    width: 100px;
   border-radius: 100px;
}

.links_text h1{
    font-size: 20px;
    font-family: "inter", sans-serif;
    color: hsl(0, 0%, 100%);
    padding-bottom: 15px;

}

.links_text h3{
    font-size: 10px;
    font-family: "inter", sans-serif;
    color: hsl(75, 94%, 57%);
    padding-bottom: 20px;
}

.links_text p{
    font-size: 12px;
    font-family: "inter", sans-serif;
    color: hsl(0, 5%, 92%);
}

.links_buttons{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.links_buttons button{
    width: 250px;
    height: 40px;
    font-size: 14px;
    font-family: "inter", sans-serif;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 20%);
    border-radius: 8px;
    margin-bottom: 10px;
    
}

.links_buttons button:hover{
    color: hsl(0, 0%, 8%);
    width: 260px;
    background-color: hsl(75, 94%, 57%);
    cursor: pointer;
}

.attribution{
    font-size: 14px;
    font-family: "inter", sans-serif;
    color: hsl(0, 0%, 100%);
}


@media (max-width: 375px) {
    .links {
      width: 300px;
      height: 480px;
    }
  
    .links_Img img {
      width: 70px;
      height: 70px;
    }
  
    .links_buttons .button button {
      width: 200px;
      height: 35px;
    }
  
    .links_buttons .button button:hover {
      width: 220px;
    }
  
    .links-section {
      margin-top: 4rem;
    }
  }
